# OS
.DS_Store
Thumbs.db

# Python
__pycache__/

# Node
node_modules/

# Editor
*.swp
*.swo
.vscode/
.idea/

# Private keys and sensitive files (ensure you never add them)
*.key
*.pem
strong_pass.txt
*.p12

# Linux core dumps
core.*

# Pcap (if you don't want to include big captures)
*.pcap

# Build artifacts
dist/
build/
